
<% @posts.each do |post| %>
    <div class='post'>
        <h2><%= link_to post.title, post %></h2>
        <p class='time-ago'><%= time_ago_in_words post.created_at %> ago</p>
        <p><%= markdown(truncate(post.content, length:100)) %></p>
    </div>
<% end %>

<%= link_to('New post', new_post_path, :class => 'btn btn-success') %>