@import "bootstrap";
@import "posts.scss";

body {
    background: #b3c5d5;
    margin-bottom: 10px;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

