// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    margin-bottom: 3px;
}

.post {
    background: white;
    border-radius: 5px;
    padding: 15px 15px 5px 15px;
    margin-bottom: 5px;
}

.post::last-child {
    margin-bottom: 10px;
}

.post-time {
    font-style: italic;
    color: darkgrey; 
}

.my-form {
    background: white !important;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-single-title {
    margin-bottom: 20px;
}


